<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Currency Converter</title>

    <!-- Bootstrap-Files -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>
  
  <body>
    <%- include("partials/header"); -%>
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-sm-12">
        <h4>Convert Currency</h4>
        <br/>
        <div class="card">
        <div class="card-body">
          <form action="/convert" method="POST">
            <input
              type="number"
              style="width: 10rem"
              class="form-control"
              name="amount"
              id="amount"
              autocomplete="off"
              placeholder="Enter Amount"
            />
            <br />
            From :
            <select
              class="btn btn-light dropdown-toggle"
              data-toggle="dropdown"
              id="btn-dropdown"
              name="fromCurrency"
              id="fromCurrency"
            >
              USD
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <option class="dropdown-item" value="USD">USD</option>
                <option class="dropdown-item" value="EUR">EUR</option>
                <option class="dropdown-item" value="INR">INR</option>
              </div>
            </select>
            <br />
            <button class="btn btn-info" type="submit" id="btn-submit">
              CONVERT
            </button>
          </form>
        </div>
        </div>
      </div>
    
      <div class="col-xl-4 col-lg-4 col-sm-12">
        <table class="table time-zone-table table-dark">
          <h4 id='tz-heading'>Time Zones</h4>
          <br/>
          <tbody style="text-align: center;">
            <tr>
              <th scope="row">India</th>
              <td><%=ist.substring(0,23)%></td>
            </tr>
            <tr>
              <th scope="row">Germany</th>
              <td><%=germanTime.substring(0,23)%></td>
            </tr>
            <tr>
              <th scope="row">GMT</th>
              <td><%=gmt.substring(0,23)%></td>
            </tr>
            <tr>
              <th scope="row">Adelaide</th>
              <td><%=adelaideTime.substring(0,23)%></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-xl-4 col-lg-4 col-sm-12">
        <h4>Invoicing</h4>
        <ul class="list-group" style="text-align: center;">
          <li class="list-group-item"><a href="/invoicing/invoice/findAll">Manage Invoices</a></li>
          <li class="list-group-item"><a href="/invoicing/client/findAll">Manage Clients</a></li>
          <li class="list-group-item"><a href="/invoicing/summary">Summary</a></li>
          <li class="list-group-item"><a href="/invoicing/client/create/new">Create Client</a></li>
          <li class="list-group-item"><a href="/invoicing/invoice/create/new">Create Invoice</a></li>
      </ul>
      </div>

    </div>

    <script>
      $(document).on("wheel", "input[type=number]", function (e) {
        $(this).blur();
      });
    </script>
  </body>

  <%- include("partials/footer"); -%>
</html>
